:root{
    --complete: #ddffdd;
    --processing: #ffffdd;
    --timeOut: #ffdddd;
}
.user-self-order{
    position: relative;
    min-height: 35vh;
    padding: 50px 0px 50px 0px;
}
.user-order-header{
    position: absolute;
    top: 0px;
    width: 100%;
    background-color:  #fefefe;
    box-shadow: 0 0 1px black;
    display: flex;
    align-items: center;
    padding: 5px 50px 5px 50px;
}
.order-filter{
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.order-type{
    display: flex;
    align-items: center;
    margin-left: 35px;
}
.remove-style{
    margin: 0px !important;
}
.checkbox-select-hover:hover{
    cursor: pointer;
}
.to-create-order-btn{
    outline: none;
    border: 0px;
    border-radius: 5px;    
    padding: 5px 50px 5px 50px;
    background-color: #6147f3;
    cursor: pointer;
    color: #fff;
    margin-top: 10px;

}
.to-create-order-btn:hover{
    opacity: 0.9;
}
.user-order-content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
    justify-content: center;
}
.order-block{
    width: 280px;
    height: 400px;
    margin: 10px 10px 30px 10px;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
.order-block:hover{
    cursor: pointer;
}
.order-block:hover .order-modfiy{
    display: block;
}
.order-block:hover .order-complete{
    background-color: var(--complete);
}
.order-block:hover .order-processing{
    background-color: var(--processing);
}
.order-block:hover .order-timeOut{
    background-color: var(--timeOut);
}
.order-block:hover:hover .order-modfiy-title{
    background-color: #333;
}
.order-modfiy-title{
    color: #fff;
    opacity: 1 !important;
    font-weight: bolder;
    font-size: 22px;
    position: relative;
    top: 10px;
    padding: 5px 50px;
    border-radius: 20px;
}
.order-modfiy{
    display: none;
    position: absolute;
    width: 280px;
    height: 280px;
    z-index: 20;
    opacity: 0.5;
    background-color: #999;
    text-align: center;
}
.order-img{
    width: 280px;
    height: 280px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.order-list-update{
    padding: 5px;
}
.order-result-small-title{
    padding: 5px;
}
.order-detail{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.txt-right{
    text-align: right;
}
#make-order-title, #accept-order-title{
    display: none;
}

.set-flex, #no-order-page{
    display: flex;
}
.set-center{
    justify-content: center;
    align-items: center;
}

/* Check box Style*/
.checkbox-style {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
.checkbox-style input {
    display: none;
}
  
.ic-checkbox-style::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation-name: pulsein;
            animation-name: pulsein;
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
}
  .ic-checkbox-style::before {
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    width: 35px;
    height: 4px;
    background-color: #ddd;
    border-radius: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  input:checked + .ic-checkbox-style::after {
    background-color: #6147f3;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    -webkit-animation-name: pulseout;
            animation-name: pulseout;
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
  }
  input:checked + .ic-checkbox-style::before {
    background-color: #6147f3;
  }
  input:disabled + .ic-checkbox-style::after, input:disabled + .ic-checkbox-style::before {
    background-color: #e5e5e5;
  }
  